body,
html {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(context.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  color:#c9fff3;
  animation-delay:0.2s
}
hr{
  border-radius: 4px;
  border-color: #098262;
  max-width: 65px;
}
.buffer
{
  height:6rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: capitalize;

}
.btn-primary{
background-color: #05b387;
border-color: #05b387;
transition: 0.3s ease-Out;
}
.btn-primary:hover{
  background-color: #033629;
  border-color: #033629;
  transform: scale(1.1);
}
.btn-xl{
  padding:1rem 2rem;
}
.display{
  display:flex;
  justify-content:center;
  flex-direction: row;
  flex-wrap: wrap;


}
.gal{
  margin: 1.1rem 1.1rem;
  height: 15rem;
  width:15rem;
  transition: 0.5s ease;
  border-radius: 2rem;
}
.gal:hover{
  transform: scale(1.2);
}
.spinner {

  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.loader-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left:0;
  background-color: #000000;
}
